<div class="today-weather">
  <h1>{{ area?.country }} Weather Now</h1>
  <hr />
  <div *ngIf="currentCondition" class="row">
    <div class="temp">
      <div class="temp-img">
        <img
          *ngIf="hourNow >= 5 && hourNow <= 17"
          src="../../../assets/sun.webp"
          alt=""
        />
        <img
          *ngIf="hourNow > 17 || hourNow < 5"
          src="../../../assets/moon.webp"
          alt=""
        />
        <div class="temperature">
          <p >{{ currentCondition.temp_C }}</p>
          <span>Feels {{ currentCondition.FeelsLikeC }} °c</span>
        </div>
      </div>
      <p class="weatherDesc">{{ currentCondition.weatherDesc }}</p>
    </div>

    <div class="other-weather">
      <div class="cloudCover-humidiy">
        <span>cloudcover: {{ currentCondition.cloudcover }}%</span>
        <span>Humidity: {{ currentCondition.humidity }}%</span>
      </div>
      <hr />
      <div *ngIf="astronomy">
        <div class="astronomy">
          <div class="left">
            <span>sunrise: {{ astronomy[0].sunrise }}</span>
            <span>sunset: {{ astronomy[0].sunset }}</span>
          </div>
          <div class="right">
            <span> moonrise: {{ astronomy[0].moonrise }}</span>
            <span>moonset: {{ astronomy[0].moonset }}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
  <hr />
  <div class="hourly-Weather">
    <div *ngFor="let item of hourlyWeather">
      <p>
        {{ item.time }}
        <span *ngIf="+item.time >= 0 && +item.time < 1200">am</span>
        <span *ngIf="+item.time >= 1200">pm</span>
      </p>
      <p>
        <img
          width="30px"
          *ngIf="
            item.time == '600' ||
            item.time == '900' ||
            item.time == '1200' ||
            item.time == '1500'
          "
          src="../../../assets/sun.webp"
          alt=""
        />
        <img
          width="30px"
          *ngIf="
            item.time == '0' ||
            item.time == '300' ||
            item.time == '1800' ||
            item.time == '2100'
          "
          src="../../../assets/moon.webp"
          alt=""
        />
      </p>
      <p>{{ item.tempC }} °c</p>
      <!-- <img [src]="item.weatherIconUrl[0].value" alt=""> -->
    </div>
  </div>
</div>
<!-- </div> -->
<!-- <p>weather now: {{currentCondition.temp_C}} </p>
<p>humidity: {{currentCondition.humidity}} </p> -->
<!-- <p>average Temperature this month: {{currentCondition?.temp_C}} </p>
<p>average Temperature this month: {{currentCondition?.temp_C}} </p>
<span></span> -->
<!-- DewPointC: "7"
DewPointF: "45"
FeelsLikeC: "17"
FeelsLikeF: "63"
HeatIndexC: "17"
HeatIndexF: "63"
WindChillC: "17"
WindChillF: "63"
WindGustKmph: "34"
WindGustMiles: "21"
chanceoffog: "0"
chanceoffrost: "0"
chanceofhightemp: "0"
chanceofovercast: "0"
chanceofrain: "0"
chanceofremdry: "91"
chanceofsnow: "0"
chanceofsunshine: "86"
chanceofthunder: "0"
chanceofwindy: "0"
cloudcover: "0"
humidity: "51"
precipInches: "0.0"
precipMM: "0.0"
pressure: "1012"
pressureInches: "30"
tempC: "17"
tempF: "63"
time: "0"
uvIndex: "1"
visibility: "10"
visibilityMiles: "6"
weatherCode: "113"
weatherDesc: [{…}]
weatherIconUrl: [{…}]
winddir16Point: "NNW"
winddirDegree: "338"
windspeedKmph: "25"
windspeedMiles: "15" -->
