.chooseCityWeather {
  text-align: center;
  input {
    border: 1px solid #888;
    padding: 10px;
    border-radius: 5px;
  }
  button {
    background: #10A631;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 5px;
    margin: 5px;
    color: #fff;
  }
}
