.history {
  .select-date {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    input {
      padding: 8px;
      border-radius: 8px;
      flex-basis: 70%;
      border: 1px solid #aaa;
    }
    button {
      padding: 10px;
      border-radius: 8px;
      flex-basis: 20%;
      background: #10a631;
      color: #fff;
      border: 1px solid #aaa;
      min-width: 110px;
      margin: 10px;
    }
  }
  .info {
    .main{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .min-max{
        text-align: center;
        p{
          margin: 5px
        }
      }
    }
    .astronomy{
      display: flex;
      justify-content: space-around;
      padding: 10px 2px;
      background: #fff;
      margin: 10px 0;
      border-radius: 8px;
      color: #aaa;
      font-size: 14px;
      span{
        text-align: center;
        display: inline-block;

      }

    }
    .hourly-parent {
      display: grid;
      gap: 10px;
      // border: 1px solid #aaa;
      border-radius: 8px;
      .hourly-heading{
        display: grid;
        justify-content: space-evenly;
        text-align: center;
        grid-template-columns: repeat(auto-fit, 72px);
        font-size: 15px;
        color: #fff;
        padding: 10px 0;
        background: #10A631;
        border-radius: 8px;
      }
      .hourly {
        justify-content: space-evenly;
        background: #fff;
        display: grid;
        grid-template-columns: repeat(auto-fit, 72px);
        text-align: center;
        border-radius: 5px;
        padding: 8px;
        color: #888;
     
      }
    }
  }
}
